<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Contacts</li>
  </ol>
</nav>

<div *ngIf="pending">
  <p>Loading...</p>
</div>

<div *ngIf="!pending" class="row">
  <div class="col-xs-12 col-md-9 mb-3">
    <ng-container *ngIf="contacts.length > 0; else empty">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let contact of contacts"
              (click)="viewDetails(contact.id)"
              style="cursor: pointer"
            >
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-template #empty>
      <div class="d-flex h-100 justify-content-center align-items-center">
        <p>No contacts found.</p>
      </div>
    </ng-template>
  </div>

  <div class="col-xs-12 col-md-3">
    <div>
      <a routerLink="/contact-form" class="btn btn-primary btn-block"
        ><i class="fa fa-plus mr-2"></i>Add New Contact</a
      >

      <hr class="my-3" />

      <h4>Info</h4>

      <p class="alert alert-light">
        <i class="fa fa-user mr-2"></i>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
