<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
  <div class="container-lg">
    <a
      [routerLink]="currentUser ? '/contact-dashboard' : '/'"
      class="navbar-brand text-uppercase"
      (click)="collapsed = true"
    >
      <i class="fa fa-users mr-2"></i>
      Contacts
    </a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [class.collapse]="collapsed"
      class="navbar-collapse"
      id="navbarContent"
    >
      <ng-container *ngIf="currentUser; else guestNav">
        <ul class="navbar-nav mr-auto" (click)="collapsed = true">
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/contact-dashboard" class="nav-link">All Contacts</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/contact-form" class="nav-link">Add New Contact</a>
          </li>
        </ul>
      </ng-container>

      <ng-template #guestNav>
        <ul class="navbar-nav mr-auto" (click)="collapsed = true">
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/login" class="nav-link">Login</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a routerLink="/register" class="nav-link">Register</a>
          </li>
        </ul>
      </ng-template>

      <div ngbDropdown class="nav-item dropdown">
        <a
          ngbDropdownToggle
          class="nav-link dropdown-toggle"
          id="dropdown01"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="cursor: pointer"
        >
          {{ currentUser ? currentUser?.email : "Welcome, guest!" }}
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu dropdown-menu-md-right"
          aria-labelledby="dropdown01"
          (click)="collapsed = true"
        >
          <a
            ngbDropdownItem
            class="dropdown-item"
            href="https://github.com/elvan/contact-list-app-angular-firebase"
            target="_blank"
            >Link to Source Code</a
          >
          <a
            class="dropdown-item"
            href="https://github.com/elvan"
            target="_blank"
            >Elvan on GitHub</a
          >

          <div class="dropdown-divider"></div>

          <ng-container *ngIf="currentUser; else guest">
            <a
              (click)="openModal(content)"
              class="dropdown-item"
              style="cursor: pointer"
              >Logout</a
            >
          </ng-container>

          <ng-template #guest>
            <a class="dropdown-item" style="cursor: pointer" routerLink="/login"
              >Login</a
            >
            <a
              class="dropdown-item"
              style="cursor: pointer"
              routerLink="/register"
              >Register</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Logging out</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to log out? </strong>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.dismiss('Cancel click')"
    >
      No, cancel
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Delete Contact')"
    >
      Yes, log out now
    </button>
  </div>
</ng-template>
