<h3>{{ contact.id ? "Edit" : "Add New" }} Contact</h3>

<div class="row">
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <form #contactForm="ngForm" (submit)="onSubmit(contactForm)">
          <!-- Name -->
          <div class="form-group">
            <label for="name">Name</label>
            <input
              #name="ngModel"
              [(ngModel)]="contact.name"
              [ngClass]="{
                'is-invalid': (name.touched || name.dirty) && name.errors
              }"
              [ngStyle]="{
                cursor: isPending ? 'not-allowed' : 'auto'
              }"
              [disabled]="isPending"
              name="name"
              id="name"
              type="text"
              class="form-control"
              required
              minlength="2"
              maxlength="100"
            />

            <div [hidden]="!name.errors?.required" class="invalid-feedback">
              Name is required
            </div>
            <div [hidden]="!name.errors?.minlength" class="invalid-feedback">
              Name must be at least 2 characters
            </div>
            <div [hidden]="!name.errors?.maxlength" class="invalid-feedback">
              Name must be less than 100 characters
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              #email="ngModel"
              [(ngModel)]="contact.email"
              [ngClass]="{
                'is-invalid': (email.touched || email.dirty) && email.errors
              }"
              [ngStyle]="{
                cursor: isPending ? 'not-allowed' : 'auto'
              }"
              [disabled]="isPending"
              name="email"
              id="email"
              type="email"
              class="form-control"
              required
              minlength="5"
              maxlength="100"
            />

            <div [hidden]="!email.errors?.required" class="invalid-feedback">
              Email is required
            </div>
            <div [hidden]="!email.errors?.minlength" class="invalid-feedback">
              Email must be at least 2 characters
            </div>
            <div [hidden]="!email.errors?.maxlength" class="invalid-feedback">
              Email must be less than 100 characters
            </div>
          </div>

          <!-- Phone -->
          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              #phone="ngModel"
              [(ngModel)]="contact.phone"
              [ngClass]="{
                'is-invalid': (phone.touched || phone.dirty) && phone.errors
              }"
              [ngStyle]="{
                cursor: isPending ? 'not-allowed' : 'auto'
              }"
              [disabled]="isPending"
              name="phone"
              id="phone"
              type="tel"
              class="form-control"
              required
              minlength="3"
              maxlength="25"
            />

            <div [hidden]="!phone.errors?.required" class="invalid-feedback">
              Phone is required
            </div>
            <div [hidden]="!phone.errors?.minlength" class="invalid-feedback">
              Phone must be at least 3 characters
            </div>
            <div [hidden]="!phone.errors?.maxlength" class="invalid-feedback">
              Phone must be less than 25 characters
            </div>
          </div>

          <!-- Submit Button -->
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="contactForm.invalid"
            [ngStyle]="{
              cursor: isPending ? 'not-allowed' : 'pointer'
            }"
          >
            <span
              *ngIf="isPending"
              class="spinner-border spinner-border-sm mr-2"
            ></span>
            {{ isPending ? "Saving..." : "Save Contact" }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div>
      <a [routerLink]="returnUrl" class="btn btn-outline-primary btn-block"
        ><i class="fa fa-chevron-left mr-2"></i> Back to
        {{ contact.id ? "Details" : "Contacts" }}</a
      >
    </div>

    <hr class="my-3" />

    <h4>Info</h4>
    <p class="alert alert-info">
      <i class="fa fa-info mr-2"></i>
      This form is pre-populated with dummy data.
    </p>
  </div>
</div>
