<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item">
      <a routerLink="/contact-dashboard">Contacts</a>
    </li>
    <li *ngIf="contact" class="breadcrumb-item active">{{ contact.name }}</li>
  </ol>
</nav>

<div *ngIf="isPending">
  <p>Loading...</p>
</div>

<ng-container *ngIf="contact">
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Name:</strong> {{ contact.name }}
            </li>
            <li class="list-group-item">
              <strong>Email:</strong> {{ contact.email }}
            </li>
            <li class="list-group-item">
              <strong>Phone:</strong> {{ contact.phone }}
            </li>
            <li class="list-group-item">
              <strong>Company:</strong> {{ contact.company }}
            </li>
            <li class="list-group-item">
              <strong>Address:</strong> {{ contact.address }}
            </li>
            <li class="list-group-item">
              <strong>Website:</strong>
              <a [href]="'http://' + contact.website" target="_blank">
                {{ contact.website }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div>
        <a
          [routerLink]="'/contact-form/' + contact.id"
          class="btn btn-primary btn-block"
        >
          <i class="fa fa-pencil mr-2"></i>
          Edit Contact
        </a>
      </div>

      <hr />

      <h4>Info</h4>

      <div>
        <p class="alert alert-dark">
          <i class="fa fa-user mr-2"></i>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>

      <div class="mb-3">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Deleting contact</h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <strong
                >Are you sure you want to delete
                <span class="text-primary">"{{ contact.name }}"</span>
                profile?</strong
              >
            </p>
            <p>
              All information associated to this user profile will be
              permanently deleted.
              <span class="text-danger">This operation can not be undone.</span>
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="modal.dismiss('Cancel click')"
            >
              No, cancel
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Delete Contact')"
            >
              Yes, delete this contact
            </button>
          </div>
        </ng-template>

        <button
          [disabled]="isDeleting"
          (click)="openModal(content)"
          class="btn btn-danger btn-block"
        >
          <span
            *ngIf="isDeleting"
            class="spinner-border spinner-border-sm mr-2"
          ></span>
          <i *ngIf="!isDeleting" class="fa fa-trash mr-2"></i>
          {{ isDeleting ? "Deleting..." : "Delete Contact" }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
