<div class="jumbotron">
  <h1 class="display-4">Welcome to ContactList!</h1>

  <p class="lead">
    This is a simple app to manage your contacts. You can add, edit, delete and
    view your contacts.
  </p>

  <hr class="my-4" />

  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente illum
    saepe, facilis porro quia unde repellat quod velit atque nesciunt nostrum
    repellendus! Tenetur ipsam quod reprehenderit expedita cupiditate porro
    dolor.
  </p>

  <a routerLink="/login" class="btn btn-outline-primary btn-lg mr-2">
    <i class="fa fa-sign-in mr-2"></i>
    Login to Dashboard
  </a>

  <a routerLink="/register" class="btn btn-success btn-lg">
    <i class="fa fa-user-plus mr-2"></i>
    Create an Account
  </a>
</div>
